* {
font-size:92%!important;
}

.calDate, .calDayName {
line-height:1.2em!important;
font-size:100%!important;
}

#titleBox,#dragBox,#list,.hidden,.description,#listLink {
display:none;
}

div {
height:auto!important;
display:block;
padding:0;
}

#dropBox {
float:none;
}

h1 {
font-size:120%;
}

ol {
list-style-type:decimal;
padding-left:2em;
}

hr {
border:1px solid #666;
clear:both;
}

#footer {
font-size:75%;
text-align:right;
}

