.movPlace, .movTime {
vertical-align:top;
color:#009;
display:inline-block;
font-size:90%;
}

.movTime {
width:14.2em;
}

.movPlace {
width:8em;
padding-right:4px;
}

.movTitle, .movETitle {
vertical-align:top;
font-weight:700;
padding-right:0.5em;
}

.movRemark {
vertical-align:top;
color:#900;
font-size:80%;
padding-right:1em;
}

.movPageNo {
vertical-align:top;
color:#060;
font-size:80%;
padding-right:1em;
}

.plainText {
vertical-align:top;
color:#000;
font-size:100%;
font-weight:400;
}

.notice {
vertical-align:top;
color:#800;
background-color:#FF0;
}

.movCollision {
border: 1px solid #F00;
}
