#breadcrumb,#extlinks,#titleBox,#dragBox,#list,.hidden,.description,#listLink,.fb_like {
display:none!important;
}

div {
width:100%!important;
height:auto!important;
display:block;
}

.brand {
position:absolute;
top:0;
left:0;
font-size:2em;
color:#000;
text-decoration:none;
}

#dropBox {
float:none;
position:absolute;
top:2em;
}

#lPanel {
height:5em;
margin-top:1em;
width:100%;
position:absolute;
bottom:2em;
}

h1 {
font-size:120%;
}

li {
line-height:1.2em;
}

ul,ol {
margin:1em 0;
}

ol {
list-style-type:decimal;
padding-left:2em;
}

hr {
border:1px solid #666;
clear:both;
}

#footer {
width:100%;
font-size:70%;
text-align:right;
position:absolute;
bottom:0;
}
