#titleBox,#dragBox,#list,.hidden,.description,#listLink {
display:none;
}

div {
width:100%!important;
height:auto!important;
display:block;
}

#dropBox {
float:none;
}

#lPanel {
height:5em;
margin-top:1em;
}

h1 {
font-size:120%;
}

li {
line-height:1.2em;
}

ul,ol {
margin:1em 0;
}

ol {
list-style-type:decimal;
padding-left:2em;
}

hr {
border:1px solid #666;
clear:both;
}

#footer {
font-size:75%;
text-align:right;
}
