body {
font-family:sans-serif,'iLiHei', 'LiHei Pro', '微軟正黑體', 'Arial Unicode MS';
background-color:#FFC;
overflow:hidden;
padding:5px;
}

ul,ol {
padding:5px;
}

.tab {
border:1px solid red;
cursor:pointer;
display:inline-block;
font-size:90%;
line-height:2em;
margin:2px;
padding:2px;
text-align:center;
width:75px;
border-top-left-radius:10px;
border-top-right-radius:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
}

#groupBox {
background-color:#FEF;
border:1px solid #F0F;
float:left;
height:320px;
overflow:auto;
width:55%;
}

#groupBox > * {
background-color:#FEF;
}

#titleBox {
background-color:#EFE;
border:1px solid #0F0;
float:right;
height:320px;
list-style-type:none;
overflow:auto;
width:44%;
}

#titleBox > * {
background-color:#EFE;
}

#lPanel {
background-color:#FEE;
border:1px solid red;
float:left;
width:40%;
}

#dragBox {
height:280px;
}

#infoBox {
}

#imdbBtn {
padding:4px;
float:left;
cursor:pointer;
}

#remarkDesc {
font-size:80%;
height:55px;
}

#dropBox {
background-color:#EEF;
border:1px solid #00F;
float:right;
height:330px;
width:57%;
}

.dropBoxHover {
background-color:#DDF!important;
}

#lPanel,#dropBox {
overflow:auto;
overflow-x:hidden;
padding:5px;
}

li {
cursor:pointer;
line-height:1.1em;
margin:2px 0;
}

.tab:hover,li:hover {
background-color:#FFE0B0;
}

.itemSeled,.itemSeled:hover {
background-color:#FCC;
}

h1 {
font-size:120%;
font-weight:700;
line-height:1.2em;
}

.hidden {
display:none;
}

#footer {
bottom:8px;
font-size:90%;
padding:0;
position:absolute;
right:6px;
text-align:right;
}

.clear {
clear:both;
visibility:hidden;
}

.description {
color:#666;
font-size:12pt;
padding:5px 0 2px 0.2em;
}

a {
color:#006;
text-decoration:none;
}

#filter {
font-size:50%;
}

.notMatch {
color:#999999 !important;
}

.greyBox {
border:1px solid #666!important;
background-color:#EEE!important;
}

.redBox {
background-color:#FCC!important;
}

.ui-dialog {
padding:5px;
border:1px solid #006;
background-color:#CCF;
}

.ui-dialog-titlebar {
display:none;
}

.ui-dialog-content {
background-color:#EEF;
padding:5px;
}

.ui-dialog-buttonpane {
text-align:right;
padding:8px 0 0 0;
}

button.ui-state-default {
height:30px;
width:80px;
margin:0 4px;
line-height:24px;
}

.ui-widget-overlay {
background-color:#CCC;
opacity:0.5;
position:absolute;
left:0;
top:0;
}

.shareBtn {
font-size:60%;
border:1px solid #900;
padding:2px;
}

#shareLink {
margin:5px 0;
width:100%;
text-align:center;
line-height:2em;
display:block;
border:1px solid #900;
}

.shareBtn:hover, #shareLink:hover {
background-color:#FFCCCC;
}

#groupBox, #titleBox, #lPanel, #dropBox, .shareBtn, .ui-dialog, #shareLink, .ui-dialog-content {
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
}

.fb_like {
position:absolute;
bottom:5px;
left:5px;
z-index:99;
}
